body {
  text-align: center;
  background-color: rgb(206, 218, 218);
}

h1 {
  font-family: Monoton;
  font-size: 70px;
  margin: 0.2em;
}

h2 {
  margin: 1em 0 0.25em;
}

h2:first-of-type {
  margin-top: 0.5em;
}

table,
tr,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

tr {
  height: 20px;
}

td {
  width: 20px;
}

input[type="number"] {
  background-color: rgba(98, 119, 116, 0.993); 
  border-radius: 20%;
  width: 2.5em;
  color: white;
  padding: 5px 8px;
  text-align: center;
  margin: 4px 2px;
}

.button {
  background-color: #4CAF50; /* Green */
  border-radius: 5%;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5%;
}

.button2 {
  background-color: crimson;
}

 
.label {
  font-size: 18px;
  font-family: monospace;
}